Binaries
DerivedDataCache
Intermediate
Saved
*.opensdf
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
Content/StarterContent
Content/Jurij
sphero/
desktop.ini
Build/
.dropbox
*.VC.opendb
*.sln
Source/SpheroRAW/x64/
